<div>
    <h2>Patients</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="patient.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Patient
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="uniqueId"><span>Unique Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="initials"><span>Initials</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="birthDate"><span>Birth Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estimatedAge"><span>Estimated Age</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="onsetDateTime"><span>Onset Date Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bpStartTreatmentDateTime"><span>Bp Start Treatment Date Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="doorDateTime"><span>Door Date Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="appStartDateTime"><span>App Start Date Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bpTargetReachedDateTime"><span>Bp Target Reached Date Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gcsScore"><span>Gcs Score</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="antiCoagulant"><span>Anti Coagulant</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="weightInKg"><span>Weight In Kg</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="calculatedBeriplexDose"><span>Calculated Beriplex Dose</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="actualBeriplexDose"><span>Actual Beriplex Dose</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isBeriplexAdministered"><span>Is Beriplex Administered</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="beriplexStartDateTime"><span>Beriplex Start Date Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isVitaminkAdministered"><span>Is Vitamink Administered</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vitaminkDateTime"><span>Vitamink Date Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isInfusionInstructionsViewed"><span>Is Infusion Instructions Viewed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="premorbidMrsScore"><span>Premorbid Mrs Score</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isPosteriorFossaIch"><span>Is Posterior Fossa Ich</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isVentricleObstructed"><span>Is Ventricle Obstructed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ichVolume"><span>Ich Volume</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isReferredToNeurosurgery"><span>Is Referred To Neurosurgery</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isForActiveTreatment"><span>Is For Active Treatment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="destination"><span>Destination</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="otherDestination"><span>Other Destination</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="hospitalId"><span>Hospital</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="patient in vm.patients track by patient.id">
                    <td><a ui-sref="patient-detail({id:patient.id})">{{patient.id}}</a></td>
                    <td>{{patient.uniqueId}}</td>
                    <td>{{patient.initials}}</td>
                        <td>{{patient.birthDate | date:'mediumDate'}}</td>
                    <td>{{patient.estimatedAge}}</td>
                    <td>{{patient.onsetDateTime | date:'medium'}}</td>
                    <td>{{patient.bpStartTreatmentDateTime | date:'medium'}}</td>
                    <td>{{patient.doorDateTime | date:'medium'}}</td>
                    <td>{{patient.appStartDateTime | date:'medium'}}</td>
                    <td>{{patient.bpTargetReachedDateTime | date:'medium'}}</td>
                    <td>{{patient.gcsScore}}</td>
                    <td>{{patient.antiCoagulant}}</td>
                    <td>{{patient.weightInKg}}</td>
                    <td>{{patient.calculatedBeriplexDose}}</td>
                    <td>{{patient.actualBeriplexDose}}</td>
                    <td>{{patient.isBeriplexAdministered}}</td>
                    <td>{{patient.beriplexStartDateTime | date:'medium'}}</td>
                    <td>{{patient.isVitaminkAdministered}}</td>
                    <td>{{patient.vitaminkDateTime | date:'medium'}}</td>
                    <td>{{patient.isInfusionInstructionsViewed}}</td>
                    <td>{{patient.premorbidMrsScore}}</td>
                    <td>{{patient.isPosteriorFossaIch}}</td>
                    <td>{{patient.isVentricleObstructed}}</td>
                    <td>{{patient.ichVolume}}</td>
                    <td>{{patient.isReferredToNeurosurgery}}</td>
                    <td>{{patient.isForActiveTreatment}}</td>
                    <td>{{patient.destination}}</td>
                    <td>{{patient.otherDestination}}</td>
                    <td>
                        <a ui-sref="hospital-detail({id:patient.hospitalId})">{{patient.hospitalId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="patient-detail({id:patient.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="patient.edit({id:patient.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="patient.delete({id:patient.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
